<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navbar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <link href="/css/styleUser.css" rel="stylesheet">
</head>
<body id="body-pd">
<header class="header d-flex align-items-center justify-content-between" id="header">
    <form action="/home/search" method="get">
        <div class="search-bar">
            <input id="search" name="keyword" type="text" placeholder="Tìm kiếm...">
            <button type="submit">🔍</button>
        </div>
    </form>
    <div class="header_img"><img src="https://i.imgur.com/hczKIze.jpg" alt=""></div>
</header>
<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="#" class="nav_logo">
                <i class='bx bx-layer nav_logo-icon'></i>
                <span class="nav_logo-name">BBBootstrap</span>
            </a>
            <div class="nav_list">
<!--                    <span class="nav_link active" data-url="/home/trang1">-->
<!--                        <i class='bx bx-grid-alt nav_icon'></i>-->
<!--                        <span class="nav_name">Dashboard</span>-->
<!--                    </span>-->
<!--                <span class="nav_link" data-url="/home/trang2">-->
<!--                        <i class='bx bx-user nav_icon'></i>-->
<!--                        <span class="nav_name">Users</span>-->
<!--                    </span>-->
                <a class="nav_link active" data-url="/home/trang1">
                    <i class='bx bx-grid-alt nav_icon'></i>
                    <span class="nav_name">Dashboard</span>
                </a>
                <a class="nav_link" data-url="/home/trang2">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name">Ca sĩ</span>
                </a>
                <a href="#" class="nav_link">
                    <i class='bx bx-message-square-detail nav_icon'></i>
                    <span class="nav_name">Thể loại</span>
                </a>
                <a href="#" class="nav_link">
                    <div>
                        <i class='bx bx-bookmark nav_icon'></i>
                    </div>
                    <span class="nav_name" id="playlist-link">Playlist</span>
                    <div class="nav_icon_plus">
                        <i class='bx bx-plus-circle nav_icon' id="add-playlist-btn"></i>
                    </div>
                </a>
                <div class="playlist-dropdown">
                    <ul id="playlist-list" style="display: none;">
                        <!-- Thymeleaf iteration over playlists -->
                        <li th:each="playlist : ${playlists}">
                            <div class="playlist-item d-flex justify-content-between align-items-center">
                                <div>
                                    <a th:href="@{/home/playlist/{playlistId}(playlistId=${playlist.playlistId})}">
                                        <span th:text="${playlist.name}">Playlist Name</span>
                                    </a>
                                </div>
                                <div>
                                    <a th:href="@{/home/deletePlaylist/{playlistId}(playlistId=${playlist.playlistId})}">
                                        <i class='bx bxs-trash'></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <form id="add-playlist-form" action="/home/addPlaylist" method="get" style="display: none; margin: -24px 0 0 20px;">
                    <div class="input-group mb-3">
                        <input type="text" id="playlist-name" class="form-control" name="playlistName" placeholder="Tên playlist mới" required>
                        <button class="btn btn-success" type="submit" id="save-playlist-btn">Lưu</button>
                    </div>
                </form>
                <a href="#" class="nav_link">
                    <i class='bx bx-folder nav_icon'></i>
                    <span class="nav_name">Files</span>
                </a>
                <a href="#" class="nav_link">
                    <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
                    <span class="nav_name">Stats</span>
                </a>
            </div>
        </div>
        <a href="#" class="nav_link">
            <i class='bx bx-log-out nav_icon'></i>
            <span class="nav_name">SignOut</span>
        </a>
    </nav>
</div>
<div id="playlistModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <!-- Thymeleaf iteration over playlists -->
        <div th:each="playlist : ${playlists}" class="playlist-item" th:data-playlist-id="${playlist.playlistId}" onclick="selectPlaylist(this)">
            <div class="playlist-info">
                <h4 th:text="${playlist.name}">Playlist Name</h4>
                <p th:text="'Created by ' + ${playlist.user.id}">Created by</p>
            </div>
        </div>
    </div>
</div>

<form id="addToPlaylistForm" action="/home/addToPlaylist" method="post" style="display:none;">
    <input type="hidden" name="playlistId" id="playlistId">
    <input type="hidden" name="songId" id="songId">
</form>
<audio id="cs_audio" controls>
    <source src="" type="audio/mpeg">
</audio>
<section class="content" id="content">
    <section layout:fragment="content">
        <!-- Content will be injected here -->
    </section>
</section>
<div class="cs_audioplayer-container">
    <div id="cs_audioplayer">
            <span class="cs_audio_time">
                <span id="cs_audio_current_time">0:00</span>
            </span>
        <span id="cs_play_pause_btn" class="cs_play_pause_btn">
                <i class="far fa-play-circle" id="cs_audio_play"></i>
                <i class="far fa-pause-circle" id="cs_audio_pause"></i>
            </span>

        <span id="cs_audio_sound" class="cs_audio_sound">
                <i class="fas fa-volume-down"></i>
                <div class="cs_volBar">
                    <div class="cs_volume"></div>
                    <div id="cs_volume_handle" class="cs_volume_handle"></div>
                </div>
            </span>

        <div id="cs_song_title" class="cs_song_title"></div>
        <div class="cs_audio_bar">
            <div class="cs_audio_bar_now"></div>
            <div class="cs_audio_bar_loaded"></div>
            <div id="cs_audio_duration_handle" class="cs_audio_duration_handle"></div>
        </div>

        <div id="cs_audio_duration" class="cs_audio_duration"></div>
    </div>
</div>
<script src="/js/layoutUser.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function() {
        $("#search").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "/home/searchAutocomplete",
                    data: { query: request.term },
                    success: function(data) {
                        response($.map(data, function(item) {
                            return {
                                label: item.title,
                                value: item.title
                            };
                        }));
                    }
                });
            },
            minLength: 2
        });
    });

    $('.nav_link').click(function (event) {
        event.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết
        $('.nav_link').removeClass('active');
        $(this).addClass('active');
        var url = $(this).data('url');
        loadPage(url);
    });
</script>
<script>
    // Script for handling modal and AJAX request
    const modal = document.getElementById("playlistModal");
    const btns = document.querySelectorAll(".openModalBtn");
    const span = document.getElementsByClassName("close")[0];
    let selectedSongId = null;

    btns.forEach(btn => {
        btn.onclick = function() {
            selectedSongId = btn.getAttribute('data-song-id');
            modal.style.display = "block";
        }
    });

    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    function selectPlaylist(element) {
        const selectedPlaylistId = element.getAttribute('data-playlist-id');

        // AJAX request
        $.ajax({
            url: '/home/addToPlaylist',
            type: 'GET',
            data: {
                playlistId: selectedPlaylistId,
                songId: selectedSongId
            },
            success: function(response) {
                alert('Đã thêm bài hát vào playlist thành công!');
                modal.style.display = 'none';
            },
            error: function(xhr, status, error) {
                alert('Có lỗi xảy ra khi thêm bài hát vào playlist.');
                console.error(xhr.responseText);
            }
        });
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        const playlistLink = document.getElementById('playlist-link');
        const playlistList = document.getElementById('playlist-list');

        playlistLink.addEventListener('click', function(e) {
            e.preventDefault();
            playlistList.style.display = (playlistList.style.display === 'block') ? 'none' : 'block';
        });
    });
</script>



</body>
</html>
