<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navbar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <link href="/css/styleUser.css" rel="stylesheet">
</head>
<body id="body-pd">
<header class="header" id="header">
    <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
    <div class="header_img"> <img src="https://i.imgur.com/hczKIze.jpg" alt=""> </div>
</header>
<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="#" class="nav_logo">
                <i class='bx bx-layer nav_logo-icon'></i>
                <span class="nav_logo-name">BBBootstrap</span>
            </a>
            <div class="nav_list">
                <a href="#" class="nav_link active">
                    <i class='bx bx-grid-alt nav_icon'></i>
                    <span class="nav_name">Dashboard</span>
                </a>
                <a href="#" class="nav_link">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name">Users</span>
                </a>
                <a href="#" class="nav_link">
                    <i class='bx bx-message-square-detail nav_icon'></i>
                    <span class="nav_name">Messages</span>
                </a>
                <a href="#" class="nav_link">
                    <i class='bx bx-bookmark nav_icon'></i>
                    <span class="nav_name">Bookmark</span>
                </a>
                <a href="#" class="nav_link">
                    <i class='bx bx-folder nav_icon'></i>
                    <span class="nav_name">Files</span>
                </a>
                <a href="#" class="nav_link">
                    <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
                    <span class="nav_name">Stats</span>
                </a>
            </div>
        </div>
        <a href="#" class="nav_link">
            <i class='bx bx-log-out nav_icon'></i>
            <span class="nav_name">SignOut</span>
        </a>
    </nav>
</div>
<!--Container Main start-->
<div class="height-100 bg-light">
    <h4>Main Components</h4>
</div>
<!--Container Main end-->
<audio id="cs_audio" controls>
    <source src="/audio/CoolKid - Sau Cơn Mưa (ft. Rhyder).mp3" type="audio/mpeg">
</audio>
<div class="cs_audioplayer-container">
    <div id="cs_audioplayer">
        <span class="cs_audio_time">
                <span id="cs_audio_current_time">0:00</span>
            </span>

        <span id="cs_play_pause_btn" class="cs_play_pause_btn">
                <i class="far fa-play-circle" id="cs_audio_play"></i>
                <i class="far fa-pause-circle" id="cs_audio_pause"></i>
            </span>

        <span id="cs_audio_sound" class="cs_audio_sound">
                <i class="fas fa-volume-down"></i>
                <div class="cs_volBar">
                    <div class="cs_volume"></div>
                    <div id="cs_volume_handle" class="cs_volume_handle"></div>
                </div>
            </span>

        <div id="cs_song_title" class="cs_song_title"></div>
        <div class="cs_audio_bar">
            <div class="cs_audio_bar_now"></div>
            <div class="cs_audio_bar_loaded"></div>
            <div id="cs_audio_duration_handle" class="cs_audio_duration_handle"></div>
        </div>

        <div id="cs_audio_duration" class="cs_audio_duration"></div>
    </div>
</div>
<script src="/js/layoutUser.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        const showNavbar = (toggleId, navId, bodyId, headerId) => {
            const toggle = document.getElementById(toggleId),
            nav = document.getElementById(navId),
            bodypd = document.getElementById(bodyId),
            headerpd = document.getElementById(headerId);

            // Validate that all variables exist
            if(toggle && nav && bodypd && headerpd){
                toggle.addEventListener('click', () => {
                    // show navbar
                    nav.classList.toggle('show');
                    // change icon
                    toggle.classList.toggle('bx-x');
                    // add padding to body
                    bodypd.classList.toggle('body-pd');
                    // add padding to header
                    headerpd.classList.toggle('body-pd');
                });
            }
        }
        showNavbar('header-toggle','nav-bar','body-pd','header');
        /*===== LINK ACTIVE =====*/
        const linkColor = document.querySelectorAll('.nav_link');
        function colorLink(){
            if(linkColor){
                linkColor.forEach(l => l.classList.remove('active'));
                this.classList.add('active');
            }
        }
        linkColor.forEach(l => l.addEventListener('click', colorLink));
    });
</script>
</body>
</html>