body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.song-detail {
    display: flex;
    align-items: center;
    background-color: #e0f7fa;
    padding: 20px;
    border-radius: 10px;
}

.song-detail img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-right: 20px;
}

.song-info {
    display: flex;
    flex-direction: column;
}

.song-info h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}

.song-info p {
    margin: 5px 0;
}

.controls {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.controls button {
    background-color: #1db954;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
}

.controls button img {
    width: 20px;
    height: 20px;
}

.rating {
    direction: rtl;
    unicode-bidi: bidi-override;
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center; /* Align items center */
    margin-bottom: 1rem;
    margin-right:396px;
}

.rating input {
    display: none;
}

.rating label {
    cursor: pointer;
    color: #c5c5c5;
    margin-left: 10px;
}

.rating input:checked ~ label,
.rating input:checked ~ label ~ label {
    color: #ffc700;
}

.comment-section {
    margin-top: 20px;
}

.comment-section .card {
    margin-bottom: 10px;
}

.comment-section img {
    width: 40px;
    height: 40px;
}

.form-group {
    margin-bottom: 15px;
}

.rating-container {
    display: flex;
    align-items: center;
}

.rating-container .input-group-append {
    margin-left: 10px;
}
