<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layoutUser}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <style>
        body {
            background-color: black;
            color: white; /* Đổi màu chữ sang trắng để dễ đọc hơn trên nền đen */
        }
    </style>
</head>
<body>
<section layout:fragment="content">
    <ul>
        <tr th:each="song : ${songs}">
            <li>
                <button type="button" th:attr="style='width: 40px; height: 40px; background-image: url(\'' + ${song.imagePath} + '\');'" onclick="cspd_change_music('${song.filePath}'); updateSongTitle(this);">
                    <span th:text="${song.title}">Tên bài hát</span>
                </button>
            </li>
        </tr>

    </ul>
</section>
</body>
</html>
